// Need to have css variables to change them as SASS variables won't work as they are generated during the compile time

:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px; // The variables of the change
}

// These are declared with the variables means they are going to change into when input change.

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.hl {
  color: var(--base);
}

body {
  text-align: center;
  background: #193549;
  color: white;
  font-family: "helvetica neue", sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}
